html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-style: bold;

}
