html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: underline;
}

a:hover {
  background-color: #c9b5ab;
  text-decoration: underline;
}

ol {
  list-style: none;
}

img {
  width: 100%;
}

blockquote {
  font-size: 1.5rem;
  align-content: center;
  font-style: italic;
}

footer > cite {
  font-size: .8rem;
  font-style: italic;
}

ul {
  list-style: circle;
}

.varieties {
  list-style-type: lower-greek;
}
